<div class="vertical-align">
  <div>
    <div class="landing">
      <h1>Tahc</h1>
      <p>Select how many people you want to talk to, and get chatting!</p>
    </div>

    <div class="room-size-select btn-group btn-group-justified" role="group">
      <a type="button" class="btn btn-default" href="#/join/1">
        <span class="glyphicon glyphicon-user"></span><br />1
      </a>
      <a type="button" class="btn btn-default" href="#/join/3">
        <span class="glyphicon glyphicon-user"></span><br />3
      </a>
      <a type="button" class="btn btn-default" href="#/join/5">
        <span class="glyphicon glyphicon-user"></span><br />5
      </a>
      <a type="button" class="btn btn-default" href="#/join/10">
        <span class="glyphicon glyphicon-user"></span><br />10
      </a>
    </div>
  </div>
</div>
