<div class="vertical-align">
  <div class="join">
    <p id="progress-label">Loading...</p><br />

    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped active"
        role="progressbar" ng-style="{ width: progress }"></div>
    </div>

    <div class="input-group">
      <input ng-model="name" type="text" class="form-control" placeholder="Type a message here">

      <span class="input-group-btn">
        <button ng-click="sendJoin()" class="btn btn-default" type="button">Send</button>
      </span>
    </div>
  </div>
</div>
